# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
app/static/database/
*.db

# Environment and IDE files
.env
.venv
env/
venv/
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Log files
*.log
